@if (isLoading) {
  <div
    role="status"
    class="space-y-8 animate-pulse md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center my-16 mx-auto"
  >
    <div
      class="flex items-center justify-center w-full h-48 bg-gray-300 rounded-sm sm:w-96 dark:bg-gray-700"
    >
      <svg
        class="w-10 h-10 text-gray-200 dark:text-gray-600"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 18"
      >
        <path
          d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
        />
      </svg>
    </div>
    <div class="w-full">
      <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
      <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[480px] mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[440px] mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[460px] mb-2.5"></div>
      <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px]"></div>
    </div>
  </div>
} @else {
  <!-- after load -->
  <div class="my-16 flex flex-wrap items-center mx-auto">
    <div class="w-full lg:w-1/4">
      <owl-carousel-o [options]="customOptions">
        @for (slide of productDetails?.images; track $index) {
          <ng-template carouselSlide [id]="slide">
            <img class="h-72 object-contain" [src]="slide" />
          </ng-template>
        }
      </owl-carousel-o>
    </div>
    <div class="w-[82%] lg:w-[70%] mx-auto mt-2 lg:mt-0">
      <h2 class="text-4xl font-light mb-4">
        {{ productDetails?.title }}
        <button
          class="text-2xl cursor-pointer active:scale-95 transition-all duration-150"
          (click)="toggleWishlist(productDetails!._id)"
        >
          <i
            class="fa-heart"
            [class]="
              isInWishlist(productDetails!._id)
                ? 'fa-solid text-red-500'
                : 'fa-regular text-gray-400'
            "
          >
          </i>
        </button>
      </h2>
      <p class="text-gray-500 mb-9">{{ productDetails?.description }}</p>
      <span>{{ productDetails?.category?.name }}</span>
      <div class="flex justify-between items-center mb-2">
        <span>{{ productDetails?.price }} EGP</span>
        <span>
          <i class="fa-solid fa-star" style="color: #ffd43b"></i>
          {{ productDetails?.ratingsAverage }}</span
        >
      </div>
      <button
        (click)="addProductCart(productDetails?._id)"
        class="w-full mt-3 cursor-pointer active:scale-95 transition-all duration-150 bg-main text-white py-1.5 rounded"
      >
        <i class="fa-solid fa-plus" style="color: #ffffff"></i>Add to cart
      </button>
    </div>
  </div>
}
