<div class="py-10 h-screen flex items-center justify-center" style="
    background-image: url('/images/8.webp');
    background-position: center;
    background-size: cover;
  ">
    <div class="bg-white rounded-lg shadow-md shadow-black py-6 px-4 sm:px-6 md:px-8 w-11/12 sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-1/3 hidden"
        [class.!block]="step === 1">
        <div class="flex gap-4 mb-6">
            <div class="w-1/3 h-2 bg-gray-400 rounded" [class.!bg-main]="step >= 1"></div>
            <div class="w-1/3 h-2 bg-gray-400 rounded" [class.!bg-main]="step >= 2"></div>
            <div class="w-1/3 h-2 bg-gray-400 rounded" [class.!bg-main]="step >= 3"></div>
        </div>

        <h1 class="text-2xl sm:text-3xl md:text-4xl text-main text-center mb-2.5">{{"forgetForm.title" |translate}}</h1>
        <p class="text-sm text-gray-500 text-center mb-3.5">
            {{"forgetForm.subtitle" |translate}}
        </p>

        <form (ngSubmit)="handleFPsubmit()" [formGroup]="forgetPasswordGroup" class="max-w-md mx-auto">
            <div class="relative z-0 w-full my-3 group">
                <input formControlName="email" type="email" name="floating_email" id="floating_email"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-main focus:outline-none focus:ring-0 focus:border-main peer"
                    placeholder=" " 
                />

                @if (forgetPasswordGroup.get('email')?.touched && forgetPasswordGroup.get('email')?.errors) {
                <div class="p-4 my-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
                    @if (forgetPasswordGroup.get('email')?.getError('required')) {
                    <p>{{"forgetForm.emailError" |translate}}</p>
                    } @else if (forgetPasswordGroup.get('email')?.getError('email')) {
                    <p>{{"forgetForm.emailError2" |translate}}</p>
                    }
                </div>
                }

                <label for="floating_email"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{"forgetForm.email" |translate}}
                </label>
            </div>
            <button [disabled]="isLoading" type="submit"
                class="text-white bg-main hover:bg-transparent hover:border hover:border-main hover:text-main font-medium rounded-lg mt-2.5 text-sm w-full px-5 py-2.5 text-center active:scale-95 transition-transform duration-100 cursor-pointer disabled:bg-gray-400 disabled:text-gray-200 disabled:border-gray-400 disabled:cursor-not-allowed disabled:opacity-70">
                @if (isLoading) {
                {{"forgetForm.process" |translate}}
                } @else {
                {{"forgetForm.send" |translate}}
                }
            </button>
        </form>
    </div>

    <!-- start of form 2 -->
    <div class="bg-white rounded-lg shadow-md shadow-black py-6 px-4 sm:px-6 md:px-8 w-11/12 sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-1/3 hidden"
        [class.!block]="step === 2">
        <div class="flex gap-4 mb-6">
            <div class="w-1/3 h-2 bg-gray-400 rounded" [class.!bg-main]="step >= 1"></div>
            <div class="w-1/3 h-2 bg-gray-400 rounded" [class.!bg-main]="step >= 2"></div>
            <div class="w-1/3 h-2 bg-gray-400 rounded" [class.!bg-main]="step >= 3"></div>
        </div>

        <h1 class="text-2xl sm:text-3xl md:text-4xl text-main text-center mb-2.5">{{"forgetForm.title2" |translate}}</h1>
        <p class="text-sm text-gray-500 text-center mb-3.5">
            {{"forgetForm.subtitle2" | translate}}
        </p>

        <form (ngSubmit)="handleFPsubmit()" [formGroup]="verifyCodeGroup" class="max-w-md mx-auto">
            <div class="relative z-0 w-full my-3 group">
                <input formControlName="resetCode" type="text" name="floating_code" id="floating_code"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-main focus:outline-none focus:ring-0 focus:border-main peer"
                    placeholder=" " 
                />
                @if (verifyCodeGroup.get('resetCode')?.touched && verifyCodeGroup.get('resetCode')?.errors) {
                <div class="p-4 my-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
                    @if (verifyCodeGroup.get('resetCode')?.getError('required')) {
                    <p>{{"forgetForm.codeError" |translate}}</p>
                    } @else if (verifyCodeGroup.get('resetCode')?.getError('minlength')) {
                    <p>{{"forgetForm.codeError2" |translate}}</p>
                    }
                </div>
                }
                <label for="floating_code"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{"forgetForm.code" |translate}}</label>
            </div>
            <button [disabled]="isLoading" type="submit"
                class="text-white bg-main hover:bg-transparent hover:border hover:border-main hover:text-main font-medium rounded-lg mt-2.5 text-sm w-full px-5 py-2.5 text-center active:scale-95 transition-transform duration-100 cursor-pointer disabled:bg-gray-400 disabled:text-gray-200 disabled:border-gray-400 disabled:cursor-not-allowed disabled:opacity-70">
                @if (isLoading) {
                {{"forgetForm.process" |translate}}
                } @else {
                {{"forgetForm.send" |translate}}
                }
            </button>
        </form>
    </div>

    <!-- start of form 3 -->
    <div class="bg-white rounded-lg shadow-md shadow-black py-6 px-4 sm:px-6 md:px-8 w-11/12 sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-1/3 hidden"
        [class.!block]="step === 3">
        <div class="flex gap-4 mb-6">
            <div class="w-1/3 h-2 bg-gray-400 rounded" [class.!bg-main]="step >= 1"></div>
            <div class="w-1/3 h-2 bg-gray-400 rounded" [class.!bg-main]="step >= 2"></div>
            <div class="w-1/3 h-2 bg-gray-400 rounded" [class.!bg-main]="step >= 3"></div>
        </div>

        <h1 class="text-2xl sm:text-3xl md:text-4xl text-main text-center mb-2.5">{{"forgetForm.title3" |translate}}</h1>
        <p class="text-sm text-gray-500 text-center mb-3.5">
            {{"forgetForm.subtitle3" |translate}}
        </p>

        <form (ngSubmit)="handleEnd()" [formGroup]="setPasswordGroup" class="max-w-md mx-auto">
            <div class="relative z-0 w-full my-4 group">
                <input [readonly]="true" formControlName="email" type="email" name="floating_email" id="floating_email"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-main focus:outline-none focus:ring-0 focus:border-main peer"
                    placeholder=" " 
                />
                <label for="floating_email"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{"forgetForm.email" |translate}}</label>
            </div>

            <div class="relative z-0 w-full my-3 group">
                <input formControlName="newPassword" type="password" name="floating_password" id="floating_password"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-main focus:outline-none focus:ring-0 focus:border-main peer"
                    placeholder=" " 
                />
                @if (setPasswordGroup.get('newPassword')?.touched && setPasswordGroup.get('newPassword')?.errors) {
                <div class="p-4 my-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
                    @if (setPasswordGroup.get('newPassword')?.getError('required')) {
                    <p>Password is required</p>
                    } @else if (setPasswordGroup.get('newPassword')?.getError('pattern')) {
                    <p>Password must start with a capital letter first and have 5-11 letters or numbers</p>
                    }
                </div>
                }
                <label for="floating_password"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-main peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{"forgetForm.newPass" |translate}}
                </label>
            </div>
            <button [disabled]="isLoading" type="submit"
                class="text-white bg-main hover:bg-transparent hover:border hover:border-main hover:text-main font-medium rounded-lg mt-2.5 text-sm w-full px-5 py-2.5 text-center active:scale-95 transition-transform duration-100 cursor-pointer disabled:bg-gray-400 disabled:text-gray-200 disabled:border-gray-400 disabled:cursor-not-allowed disabled:opacity-70">
                @if (isLoading) {
                {{"forgetForm.process" |translate}}
                } @else {
                {{"forgetForm.send" |translate}}
                }
            </button>
        </form>
    </div>

</div>